<!-- Main container -->
<div class="container py-5 min-vh-100">

  <!-- Header component showing summary of income, expenses and available budget -->
  <app-header 
      [availableBudget]="getAvailableBudget()"
      [totalIncome]="getTotalIncome()"
      [totalExpense]="getTotalExpense()"
      [expensePercentage]="getExpensePercentage()"/>
  
  <!-- Form component to add new incomes or expenses -->    
  <app-form />

  <!-- Container of incomes list and expenses list -->
  <div class="row mt-4">

    <!-- Incomes -->
    <div class="col-md-6">
      <app-incomes />
    </div>

    <!-- Expenses (needs TotalIncome to calculate expenses percentage) -->
    <div class="col-md-6">
      <app-expenses [totalIncome]="getTotalIncome()" />
    </div>
  </div>
</div>